@import "./helpers/variables.scss";
@import "./helpers/mixins.scss";
@import "./helpers/fonts.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-bg-color;
  color: $primary-color;
}

h1 {
  text-align: center;
}

.infoblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__element {
    flex-grow: 1;
    margin: 0;
    padding: 10px;
    background-color: white;
    color: black;

    @include small {
      // 2 columns
      flex-basis: 50%;
    }
    @include medium {
      // 3 columns
      flex-basis: 33%;
    }
    @include large {
      // 4 columns
      flex-basis: 25%;
    }
  }
  &_modificator {
    background-color: red;
    color: white;
    font-family: Montserrat, Arial, sans-serif;
  }
  &_image {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  &_bg-image {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("../img/smile.svg") center no-repeat;
      background-size: contain;
      content: "";
      opacity: 0.25;
    }
  }
}
