@import "./helpers/variables.scss";
@import "./helpers/mixins.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-bg-color;
  color: $primary-color;
}

h1 {
  text-align: center;
}

.infoblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__element {
    flex-grow: 1;
    padding: 10px;
    background-color: white;
    color: black;

    @include small {
      // 2 columns
      flex-basis: 50%;
    }
    @include medium {
      // 3 columns
      flex-basis: 33%;
    }
    @include large {
      // 4 columns
      flex-basis: 25%;
    }
  }
  &_modificator {
    background-color: red;
    color: white;
  }
}
